[submodule "vendor/AutoResearchClaw"]
	path = vendor/AutoResearchClaw
	url = https://github.com/aiming-lab/AutoResearchClaw.git
[submodule "vendor/Blackbird-Dataset"]
	path = vendor/Blackbird-Dataset
	url = https://github.com/mit-aera/Blackbird-Dataset.git
[submodule "vendor/autoresearch"]
	path = vendor/autoresearch
	url = https://github.com/karpathy/autoresearch.git
[submodule "vendor/dataset_tools"]
	path = vendor/dataset_tools
	url = https://github.com/ethz-asl/dataset_tools.git
[submodule "vendor/hermes-agent"]
	path = vendor/hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "vendor/llama.cpp"]
	path = vendor/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
